@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);
    font-family: 'Chakra Petch', sans-serif;

    .container{
        // min-width: 70rem;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem;

        h1{
            color: black;
            font-size: 3rem;
        }

        .todo_form{
            margin-top: 2rem;
            background-color: white;
            padding: 1.6rem 1.8rem;
            border-radius: 5px;

            .todo_input{
                width:18rem;
                outline: none;
                border-radius: 4px;
                padding: .8rem;
                border: 3px solid rgba(16, 83, 186, 0.9);
                margin-right: 1rem;
                font-size: 1rem;
            }
            .add-btn{
                background-color: rgba(16, 83, 186, 0.9);
                color: white;
                border:none;
                border-radius: 0.5rem;
                padding: .75rem 1.25rem;
                font-size: 1.4rem;
                font-family: 'Lobster', cursive;
            }

        }
        .list_filetodo{
            padding: 1.25rem;
            // background-color: white;
            border-radius: 4px;
            margin-top: 5rem;

            .todo_items{
                min-width: 24rem;
                border-radius: 0.5rem;
              
                div{
                    display:flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;
                }


                li{
                    font-size: 1.5rem;
                    font-style: oblique;
                    font-variant:small-caps;
                    border-bottom: 1px solid #1053ba;
                    width: 100%;
                    margin-left: 4px;
                    list-style: none;
                }


                .delete{
                background-color: rgba(57, 74, 228, 0.781);
                color: rgba(255, 255, 255, 0.8);
                border:none;
                border-radius: 0.5rem;
                padding: .5rem .75rem;
                font-size: 1rem;
                font-family: 'Lobster', cursive;
                }
            }

        }
    }
}